<app-header></app-header>
<dx-button
  *ngIf="!editMode"
  class="alert-button"
  text="!">
</dx-button>
<div class="container">
  <div class="d-grid">
    <div class="first-container" id="small-container1">
      <dx-select-box
        valueExpr="name"
        displayExpr="name"
        placeholder="Chart"
        [dataSource]="dashboardCharts"
      ></dx-select-box>
    </div>
    <div class="first-container" id="small-container2"></div>
  </div>
  <div class="d-grid">
    <div class="second-container" id="large-container1">
    </div>
    <div class="second-container" id="large-container2"></div>
  </div>
  <div class="carousel"></div>
</div>
