<div class="dx-field">
  <div class="dx-field-value">
    <dx-text-box placeholder="Dashboard title..."></dx-text-box>
  </div>
</div>
<div class="dx-field" *ngFor="let index of [].constructor(noOfDisplays)">
  <div class="dx-field-value">
    <dx-text-box placeholder="Chart title..."></dx-text-box>
  </div>
  <div class="dx-field-value dropdown">
    <dx-select-box
      valueExpr="type"
      displayExpr="type"
      placeholder="Chart Type"
      [dataSource]="chartTypes"
      (onOptionChanged)="onGridBoxOptionChanged($event)"
    ></dx-select-box>
  </div>
  <div class="dx-field-value">
    <dx-text-box placeholder="Target name..."></dx-text-box>
  </div>
  <div class="dx-field-value">
<!--    <dx-button-->
<!--      stylingMode="contained"-->
<!--      text="Location"-->
<!--      type="normal"-->
<!--      [width]="120"-->
<!--      (click)="showMap = true"-->
<!--    ></dx-button>-->
  </div>
  <div class="dx-field-value dropdown">
    <dx-select-box
      valueExpr="id"
      placeholder="Parameter"
      [dataSource]="parameters"
      displayExpr="name"
    ></dx-select-box>
  </div>
  <div class="dx-field-value">
    <dx-button
      stylingMode="contained"
      text="+"
      type="normal"
      [width]="50"
      (click)="addConfiguration.emit()"
    ></dx-button>
  </div>
</div>

<!--<app-map [visible]="showMap"></app-map>-->
